{% extends 'main/base.html' %}
{% block title %}Волна связи{% endblock %}
{% block hero %}
  <section id="hero" class="d-flex align-items-center">
  <h1 class="left h1 tariff-cards-container__title space-holder27"><span>Выберите интересующий вас тариф:</span></h1>
  <div class="tariff-cards" data-aos="fade-up" data-aos-delay="100">
      <div class="tariff-card" id="tariff-card-1">
        <h2>Для себя</h2>
        <p><i class="bi bi-check-circle"></i> <span class="bold-text">безлимитные</span> звонки на номера Волна связи</p>
        <p><i class="bi bi-check-circle"></i> <span class="bold-text">200 минут</span> на другие мобильные номера домашнего региона</p>
        <p><i class="bi bi-check-circle"></i> <span class="bold-text">10 ГБ </span> самого быстрого интернета в стране</p>
        <p class="p1"> Стоимость: 350₽ в месяц</p>
      </div>

      <div class="tariff-card" id="tariff-card-2">
        <h2>Тариф для модемов, роутеров и умных вещей</h2>
        <p><i class="bi bi-check-circle"></i> <span class="bold-text">100 ГБ </span> самого быстрого интернета в стране</p>
        <p><i class="bi bi-check-circle"></i> Доступ для модемов и роутеров</p>
        <p><i class="bi bi-check-circle"></i> Раздача интернета на другие устройства</p>
        <p><i class="bi bi-check-circle"></i> Бесплатная переадресация SMS</p>

        <p class="p1"> Стоимость: 1 200₽ в месяц</p>
      </div>

      <div class="tariff-card" id="tariff-card-3">
        <h2>Игровой</h2>
        <p><i class="bi bi-check-circle"></i> <span class="bold-text">безлимитные</span> звонки на номера Волна связи</p>
        <p><i class="bi bi-check-circle"></i> <span class="bold-text">200 минут</span> на другие мобильные номера домашнего региона</p>
        <p><i class="bi bi-check-circle"></i> Стриминг, видео и общение <span class="bold-text">безлимитно  </span><a><img src="static/assets/img/twitch.png"></a><a><img src="static/assets/img/youtube.png"></a><a><img src="static/assets/img/vk2.png"></a></p>
        <p><i class="bi bi-check-circle"></i> <span class="bold-text">30 ГБ </span> самого быстрого интернета в стране</p>
        <p class="p1"> Стоимость: 1 050₽ в месяц</p>
      </div>
    </div>

  <a href="tariff" class="btn-primary">Оформить SIM-карту</a>


</section><!-- End Hero -->

{% endblock %}

{% block content %}
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <span>Магазин</span>
          <h2><a href="shop">Магазин</a></h2>
        </div>


        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="50">


          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="static/assets/img/portfolio/iphone12.png" class="img-fluid" alt="">
              <h5 style="text-align: center;"><br>Смартфон Apple iPhone 12 mini 256GB (PRODUCT)RED "Как новый"</h5>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="static/assets/img/portfolio/honor.png" class="img-fluid" alt="">
              <h5 style="text-align: center;"><br>Смартфон HONOR 90 512GB Зеленый</h5>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="static/assets/img/portfolio/xi_redmi.png" class="img-fluid" alt="">
              <h5 style="text-align: center;"><br>Смартфон Xiaomi Redmi 13C 128GB Черный</h5>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">


        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="static/assets/img/man.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>Волна связи</h3>
            <p class="fst-italic">
            "Волна Связи — Ваше Соединение с Будущим!"
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i>
Волна Связи — ваш надежный партнер в мире связи и цифровых технологий. У нас вы найдете не только выгодные тарифы и качественные услуги связи, но и современные цифровые сервисы для вашего удобства.</li>
              <li><i class="bi bi-check-circle"></i>
Следите за последними новостями от Волна Связи — у нас всегда актуальная информация о тарифах, новых продуктах и цифровых приложениях. Наша экосистема включает в себя разнообразные сервисы для работы, отдыха и развлечений.</li>
              <li><i class="bi bi-check-circle"></i>
Не упустите возможность узнать о новинках в мире ТВ и медиа, финансовых сервисах, а также технологиях, помогающих в запуске и продвижении вашего бизнеса. Волна Связи — создаем цифровое будущее вместе!</li>
                <br><br>

    <li>
        <i> Наши контакты</i>
        <a href="https://vk.com/id220272789"><img src="static/assets/img/vk.png"></a>
        <a href="https://t.me/Vlmumin"><img src="static/assets/img/telegram.png"></a>
    </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

{% endblock %}